z   #clouds.top {
    top: -160px;
    transform: rotateZ(180deg);
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    h1,
    h2 {
        margin: 0;
        text-align: center;
    }

    h1 {
        font-size: 3rem;
        margin-bottom: .5rem;
    }

    h2 {
        font-size: 1.5rem;

        em:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}